body { padding-top: 50px; }

.header-banner {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
    color: #CDBFE3;
    position: relative;
    background-color: #6F5499;
    background-image: linear-gradient(to bottom, #563D7C 0px, #6F5499 100%);
    background-repeat: repeat-x;
}
.header-banner h1 {
    margin-top: 0px;
    color: #FFF;
    line-height: 1;
    font-weight: 500;
    font-size: 60px;
}

.header-banner p {
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0px;
}

.header-banner a {
    color: #FFF;
}
