{% extends "layout.html" %}

{% block content %}
<div class="header-banner">
  <div class="container">
    <h1>Něco je špatně</h1>
    <p>Vámi požadovaná stránka není k nalezení, vraťte se prosím zpět či přejděte na <a href='/'>hlavní stránku</a></p>
  </div>
</div>
{% endblock %}
