{% extends "layout.html" %}
{% set active = "about" %}

{% block content %}
<div class="container">
  <h1 class="page-header">Projekt do předmětu ISJ: Mateřské školy</h1>
  <h2>Autoři</h2>
  <h4>Tomáš Coufal<small> xcoufa09(at)stud.fit.vutbr.cz</small></h4>
  <h4>Miloš Švaňa<small> xsvana01(at)stud.fit.vutbr.cz</small></h4>
  <h2>Základní informace</h2>
  <p>Projekt se zabývá získáním a zpracovaním dat o mateřských školách v Ceské
republice. Data čerpáme z webových stranek http://rejskol.msmt.cz/ a 
http://www.rozpocetobce.cz/. Projekt je rozdělený na dvě části:<p>
<ul class="list-group">
<li class="list-group-item">Balíček data_download obsahuje základní funkcionalitu na získávání dat
   ze zdrojů. Skript main.py v tomto balíku je mozne spustit
   z terminálu jako program. V takovém případe vygeneruje seznam mateřských škol
   v České republice, který uloží do suborů ve formatu CSV a JSON</li>
   <li class="list-group-item">Webová aplikace zobrazující data o mateřských školách v kombinaci s udaji
   ziskanými z projektu rozpocetobce.cz. Pro každý kraj zobrazuje souhrné 
   statistiky a umožňuje získávat podrobnosti o mateřských školách v jednotlivých
   obcích. Nebo stáhnout CSV export</li>
 </ul>
   <h2>Použité knihovny</h2>
   <span class="label label-danger">Důležité</span>  Aplikace byla vytvořena pro Python 3 (testované na verzi 3.4.0)</p>
   <p>V seznamu neuvádíme knihovny, které jsou součástí instalace jazyka Python
   jako například datetime nebo csv:</p>
   <ul class="list-group">
    <li class="list-group-item">BeautifulSoup</li>
    <li class="list-group-item">Flask</li>
    <li class="list-group-item">Requests</li>
    <li class="list-group-item">SQL Alchemy</li>
  </ul>
<h2>Jak s aplikací zacházet</h2>
<p>Na ziskání stáhnutí seznamu mateřských škol a vygenerování
CSV a JSON souboru stačí zavolat:</p>
<div class="well">
  <p>python3 data_download/main.py</p>
</div>
<p>Databazi pro webovou aplikaci už dodávame spolu s aplikací. Je však
možné ji vygenerovat i manuálně (před generovaním je nutné starou 
databazi vymazat):</p>
<div class="well">
  <p>python3 models/create_tables.py</p>
  <p>python3 models/fill_tables.py</p>
</div>
<p>Uložení některých mateřskych škol může hlásit failed. Jedná se o případ, kdy obec,
ve které se školka nachazí není v seznamu, který se získává z rozpocetobce.cz</p>
<p>Spuštění webové aplikace se uskuteční pomocí:</p>
<div class="well">
  <p>python3 webapp.py</p>
</div>
<p>Aplikace je následně přístupná na http://127.0.0.1:5000/</p>
</div>
{% endblock %}
