{%- extends "layout.html" -%}
{% set city = city|default('')%}
{% set additional = additional|default([0, 0])%}
{% set kg = kg|default([])%}
{%- block content -%}
<div class="container">
  <h1 class="page-header">{{ city.name }}<small> {{ additional[2] }}, {{ city.population }} obyvatel</small></h1>
  <p>Výdaje: {{ city.preschoolExpenses }} Kč celkem</p>
  <p>Kapacita mateřských škol: {{ additional[0] }} míst ve {{ additional[1]}} školkách</p>
  <h2>Seznam mateřských škol</h2>
  <div class="row">
    <div class="col-sm-4">
      {%- set i = 0 %}{% for data in kg -%}
      <div class="panel panel-warning">
        <div class="panel-heading">{{ data.name }}</div>
        <ul class="list-group">
          <li class="list-group-item">Kapacita: {{ data.capacity }}</li>
          <li class="list-group-item">Adresa: {{ data.address }}</li>
        </ul>
      </div>
    {%- set i = i + 1 -%}
    {%- if i % ((kg|length // 3) + 1) == 0 -%}
    </div>
    <div class="col-sm-4">
    {%- endif -%}
    {%- endfor -%}
    </div>
  </div>
</div>
{% endblock %}
