{%- extends "layout.html" -%}
{%- set regionsData = regionsData|default([{'preschoolsCount': 0, 'population': 0, 'citiesCount': 0, 'preschoolExpensesPerPerson': 0, 'preschoolCapacitySum': 0, 'preschoolExpensesSum': 0 }]) -%}
{% set regions = regions|default(['No data']) %}
{%- block content -%}
<div class="container">
  <h1 class="page-header">Index<small></small></h1>
  <div class="row">
    <div class="col-sm-4">
      {%- set i = 0 %}{% for data in regionsData -%}
      <div class="panel panel-success">
        <div class="panel-heading">{{ regions[i] }}</div>
        <ul class="list-group">
          <li class="list-group-item">Počet měst: {{ data['citiesCount'] }}</li>
          <li class="list-group-item">Počet obyvatel: {{ data['population'] }}</li>
          <li class="list-group-item">Počet školek: {{ data['preschoolsCount'] }}</li>
          <li class="list-group-item">Výdaje: {{ data['preschoolExpensesSum'] }} Kč</li>
          <li class="list-group-item">Počet míst: {{ data['preschoolCapacitySum'] }} míst</li>
          <li class="list-group-item">Výdaje na jedno místo: {{ '%0.2f'|format(data['preschoolExpensesPerPerson']|float) }} Kč</li>
        </ul>
      </div>
    {%- set i = i + 1 -%}
    {%- if i % ((regions|length // 3) + 1) == 0 -%}
    </div>
    <div class="col-sm-4">
    {%- endif -%}
    {%- endfor -%}
    </div>
  </div>
</div>
{% endblock %}
