{% set navigationBar = [
    ('/raw', 'raw', 'Surová data'),
    ('/places', 'places', 'Obce'),
    ('/about', 'about', 'O nás')
] -%}

{% set activePage = activePage|default('') -%}

{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{% block html %}
  <head>
    {% block head %}
    <title>{% block title %}Mateřské školy{% endblock %}</title>

    {% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock metas %}

    {% block styles %}
    <link href="{{url_for('.static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('.static', filename='css/base-layout.css')}}" rel="stylesheet">
    {% endblock styles %}
    {% endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
  {% block body %}
    {% block navbar %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Mateřské školy</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% for href, id, name in navigationBar %}
            <li{% if id == activePage %} class="active"{% endif %}><a href="{{ href|e }}">{{ name|e }}</a></li>
            {% endfor %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Export dat <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/export/csv_cz">CSV v CZ mutaci (nerespektuje kódování)</a></li>
                <li><a href="/export/csv_en">CSV v EN mutaci</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="search" action="/search" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="str" placeholder="Vyhledat obec">
            </div>
            <button type="submit" class="btn btn-default">Odeslat</button>
          </form>
        </div>
      </div>
    </div>
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>
    {% endblock scripts %}
  {% endblock body %}
  </body>
{% endblock html %}
</html>
{% endblock doc %}
