{%- extends "layout.html" -%}
{%- set content=content|default([]) -%}
{%- block content -%}
<div class="container">
  <h1 class="page-header">Abecední seznam obcí<small></small></h1>
  <ul class="pagination pagination-sm">
    {%- for l in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' -%}
    <li><a href="/places/{{ l }}"><span>{{ l }}</span></a></li>
    {%- endfor -%}
  </ul>
    {%- for city in content -%}
    <p><a href="/detail/{{ city.name }}">{{ city.name }}</a></p>
    {%- endfor -%}
</div>
{% endblock %}
