{% extends "layout.html" %}
{% set tabContent = tabContent|default([]) %}
{% set tabCity = tabCity|default([]) %}
{% set tabHeaders = ['Id' , 'Jméno', 'Adresa', 'Město', 'Kapacita',] %}

{% block content %}
<div class="container">
  <h1 class="page-header">Data v databázi</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      {% for header in tabHeaders %}
      <th>{{ header }}</th>
      {% endfor %}
    </thead>
    {% for line in tabContent %}
    <tr>
      <td>{{ line.id }}</td>
      <td>{{ line.name }}</td>
      <td>{{ line.address }}</td>
      <td>{{ line.city }}</td>
      <td>{{ line.capacity }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
