{%- extends "layout.html" -%}
{% set string = string|default('')%}
{%- block content -%}
<div class="container">
  <h1 class="page-header">Vyhledávání<small> '{{ string }}' v názvu obce</small></h1>
  {%- for city in content -%}
  <p><a href="/detail/{{ city.name }}">{{ city.name }}</a></p>
  {%- endfor -%}
  </div>
</div>
{% endblock %}
